body {
    display: grid;
    grid-template-columns: 5% 20% 70%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 99vw;
    overflow: hidden;
}

body > * {
        height: 100vh;
    }

#form {
        margin-top:-5%;
}

#formulario {
                margin-top: -5%;
                display: inline-block;
} 

#formulario {   
        width: 40%;
        margin: 0px auto;
        margin-left: 30%;
        margin-top: 20%;
        justify-content: center;    
        text-align: center;
        align-items: center;
        margin-bottom: 5%;
        border: 2px dashed black;
    }

#formulario * {
        margin: 0px auto;
        text-align:center;
        align-items: center;  
        margin-top:10px;
        margin-left:20px;                               
    }

#formulario input[type=submit] {
                            margin-bottom: 10px;
                        }

#tabla {
    /* margin-left:40%; */
    margin: 0px auto;   
}  

table {
    margin-left: 0%;
    border:1px solid #ccc;
    padding:10px;
    margin: 0px auto;
}

table tr:nth-child(even) {
                    background:#ccc;
                }

table td {
    padding:5px;
    text-align: center;            
}

.enlaceALogin {
    margin-right: 2%;
    text-align: right;
}

/*Parte información alumno*/

#info {
            display: block;
            width: 100%;
            margin-top: 25%;
}
    
#information {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        
#information img {
            border-radius: 100%;
        }
        
#user img {
        width: 20%;
    }
        
#list_contact {
            overflow-x: auto;
        }
        
#user hr {
    width: 50%;
    border-color: black;
}
        
#contact {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    gap: 20px;
}
        
#contact:hover {
            background-color: rgb(218, 218, 218);
        }
        
#contact img {
        width: 50px;
        border-radius: 100%;
    }
        
#contact p {
        margin-bottom: 0px;
        width: 250px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position:relative;
        background-color: #0d6efd;
    }
    
    nav div {
        cursor: pointer;
    }
    
    nav a {
        color: white;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    nav a span {
        font-size: 0.5em;
        margin-top: 5px;
    }
    
    nav a:hover {
        color: white;
    }
    
    aside {
        display: grid;
        grid-template-rows: 20% 10% 70%;
        position: relative;
    }
    
    aside::before {
        background: linear-gradient(to right,transparent 0%,#aaa 100%);
        width: 10px;
        height: 100%;
        content: '';
        position: absolute;
        right: 0;
        opacity: .2;
    }
