/* Cuerpo */
body {
  display: grid;
  grid-template-columns: 5% 95% !important;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  width: 99vw;
}

section#principio {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tabla */

#tabla_empresas {
  border: 1px solid;
  border-color: rgba(183, 178, 178 ,0.9);
  border-radius: 20px;
  text-align: center;
  font-size: 1.5rem;
  padding: 3%;
}

#tabla_empresas td {
  word-break: break-all !important;
  white-space: nowrap !important;
  padding: 20px;
}

#tabla_empresas button {
  margin-top: 5%;
  margin-left: 5%;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

#tabla_empresas button:hover {
  color: #1883ba;
  background-color: #ffffff;
}

#tabla_empresas th {
  width: 100%;
}

.añadir {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

.correo {
  width: 80%;
}

/* 
Texto profesor/Alumno */

h1.usu {
  text-align: center;
  color: white;
  border: 3px solid;
  border-color: rgba(183, 178, 178 ,0.9);
  border-radius: 20px;
  font-size: 60px;
  padding: 10px 0px;
  align-items: center;
  background-color: #3377dd;
}

/* Imagen Teams */

.teams {
  width: 100%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-bottom: 3px solid;
  border-color: white;
}

/* Parte footer */

i {
  margin-top: 30%;
}
footer {
  display: flex;
  background-color: black;
}
footer .linea1,
.linea2,
.linea3 {
  color: white;
  margin-left: 10%;
}

td button a {
  text-decoration: none;
}


#table-users {
  width: 70vw;
}

input {
  border: none;
  border-bottom: 1px solid #3a3a3a;
}

#tabla_alumnos td {
  width: 10vw;
  text-align: center;
}

input[type="text"] {
  margin: 20% auto;
  padding: 5px 10px;
}

button {
  padding: 10px 25px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  background: blue;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button a:visited {
  color: white;
}

button:hover {
  opacity: 0.8;
}

.areas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i.fa-solid.fa-paperclip-vertical {
  margin-top: 0px;
}

i.fa-solid.fa-trash {
  margin-top: 0px;
}