body {
    display: grid;
    grid-template-columns: 5% 20% 75%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 99vw;
}

body > * {
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position:relative;
    background-color: #0d6efd;
}

nav div {
    cursor: pointer;
}

nav a {
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
nav a span {
    font-size: 0.5em;
    margin-top: 5px;
}

nav a:hover {
    color: white;
}

aside {
    display: grid;
    grid-template-rows: 20% 10% 70%;
    position: relative;
}

aside::before {
    background: linear-gradient(to right,transparent 0%,#aaa 100%);
    width: 10px;
    height: 100%;
    content: '';
    position: absolute;
    right: 0;
    opacity: .2;
}

#information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#information img {
    border-radius: 100%;
}

main {
    display: grid;
    grid-template-rows: 10% 90%;
}

#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100%;
}

#user img {
    width: 20%;
}


#list_contact {
    overflow-x: auto;
}

#navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(218, 218, 218);
}

#search form {
    display: flex;
    gap: 12px;
    margin: 10px;
}

#search form input::placeholder {
    font-style: oblique;
    opacity: .5;
}

div#search {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#search .form-control {
    display: inline !important;
    width: auto !important;
}

#navigation a {
    padding-right: 5%;
    font-size: 2em;
    position: absolute;
    right: 0;
}

#user hr {
    width: 50%;
    border-color: black;
}

#contact {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    gap: 20px;
}

#contact:hover {
    background-color: rgb(218, 218, 218);
}

#contact img {
    width: 50px;
    border-radius: 100%;
}

#contact p {
    margin-bottom: 0px;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.last_message {
    font-size: 0.8em;
}


#list_contact::-webkit-scrollbar {
    -webkit-appearance: none;
}

#list_contact::-webkit-scrollbar:vertical {
    width:10px;
}

#list_contact::-webkit-scrollbar-button:increment,#list_contact::-webkit-scrollbar-button {
    display: none;
} 

#list_contact::-webkit-scrollbar:horizontal {
    height: 10px;
}

#list_contact::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

#list_contact::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* Chat */

#chat .container {
    width: 100%;
}
.chat-box {
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden
}

.chats {
    padding: 30px 15px
}

.chat-avatar {
    float: right
}

.chat-avatar, .avatar {
    width: 30px
}

.chat-body {
    display: block;
    margin: 10px 30px 0 0;
    overflow: hidden
}

.chat-body:first-child {
    margin-top: 0
}

.chat-content {
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #62a8ea;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #62a8ea;
}

.chat-content>p:last-child {
    margin-bottom: 0
}

.chat-content+.chat-content:before {
    border-color: transparent
}

.chat-time {
    display: block;
    margin-top: 8px;
    color: rgba(255, 255, 255, .6)
}

.chat-left .chat-avatar {
    float: left
}

.chat-left .chat-body {
    margin-right: 0;
    margin-left: 30px
}

.chat-left .chat-content {
    float: left;
    margin: 0 0 10px 20px;
    color: #76838f;
    background-color: #dfe9ef
}

.chat-left .chat-content:before {
    right: auto;
    left: -10px;
    border-right-color: #dfe9ef;
    border-left-color: transparent
}

.chat-left .chat-content+.chat-content:before {
    border-color: transparent
}

.chat-left .chat-time {
    color: #a3afb7
}

.panel-footer {
    padding: 0 30px 15px;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    bottom: 0;
    width: 69%;
}
.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
}
.chat-avatar .avatar {
    width: 30px;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 40px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
}

